@model IEnumerable<eShopSolution.WebApp.Entities.TaiKhoan>
@{
	ViewData["Title"] = "Index";
	Layout = "_AdminLayout";
}
<!-- Content Header (Page header) -->
<div class="content-header">
	<h1 class="m-0 text-dark">Quản lý tài khoản</h1>
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
	<div class="card-body p-0">
		<table class="table table-striped projects" style="width:100%">
			<thead>
				<tr>
					
					<th style="width: 20%">
						Tài khoản
					</th>
					<th style="width: 10%" class="text-center">
						Tên
					</th>
					<th style="width: 10%" class="text-center">
						Điện thoại
					</th>
					<th style="width: 10%" class="text-center">
						Địa chỉ
					</th>
					<th style="width:24%" class="text-center">
						Email
					</th>

					<th style="width: 10% ">
						Quyền
					</th>

					<th style="width: 15% " class="text-right">
						Action
					</th>
				</tr>
			</thead>
			<tbody id="placeAdd">
				@foreach (var item in Model)
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.HoTen)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Password)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SDT)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiaChi)
					</td>
			
						<td>
							@Html.DisplayFor(modelItem => item.Role)
						</td>
					
					<td class="project-actions text-right" style="width: 15%;color:white">

						<a class="btn btn-info btn-sm">
							<i class="fas fa-pencil-alt">
							</i>
							<span>Edit</span>
						</a>
						<a class="btnDelete" href="#">
							<i class="fas fa-trash">
							</i>
							<span>Delete</span>
						</a>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</section>
<!-- /.content -->
