@model IEnumerable<eShopSolution.WebApp.Entities.Sach>
@{
	ViewData["Title"] = "Home Page";
	Layout = "_MainLayout";
}
<!-- start slider -->
<div id="fwslider">
	<div class="slider_container">
		<div class="slide">
			<!-- Slide image -->
			<img src="~/index/images/p11.png" alt="" />
			<!-- /Slide image -->


		</div>
		<!-- /Duplicate to create more slides -->
		<div class="slide">
			<img src="~/index/images/p4.jpg" alt="" />
		</div>
		<!--/slide -->
	</div>
	<div class="timers"></div>
	<div class="slidePrev"><span></span></div>
	<div class="slideNext"><span></span></div>
</div>
<!--/slider -->
<div class="main">
	<div class="wrap">
		<div class="productB">
            <div id="placeAdd">
                <table>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TenSach)</td>
                        <td>@Html.DisplayFor(modelItem => item.TacGia)</td>
                        <td>@Html.DisplayFor(modelItem => item.MoTa)</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Hinh)
                            <img src="~/images/banner2.svg" />
                        </td>
                    <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                    </tr>

                    }
                </table>
                </div>

		</div>
	</div>
</div>

